<!-- ##### Carrousel ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_1.jpg');">
  <div class="banner-content">
    <h1>Carousel</h1>
    <p>A carousel with 3-4 clickable pics pointing to a dedicated section of the site</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<!-- ##### School ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_2.jpg');">
  <div class="banner-content">
    <h1>School</h1>
    <p>Very cool school stuff</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<!-- ##### Training ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_3.jpg');">
  <div class="banner-content">
    <h1>Training</h1>
    <p>Very cool training stuff</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<!-- ##### Shows ##### -->
<div class="container">
  <div class="event_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_2.jpg');">
    <div class="banner-content">
      <h1>Shows</h1>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>
      <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Kudoz</h3>
        <p>Les meilleures offres d'emploi cadre sur mobile</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>
      <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Kudoz</h3>
        <p>Les meilleures offres d'emploi cadre sur mobile</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
      </div>
      <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Kudoz</h3>
        <p>Les meilleures offres d'emploi cadre sur mobile</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href=""><i class="fa fa-heart"></i></a></li>
        <li><a href=""><i class="fa fa-share"></i></a></li>
        <li><a href=""><i class="fa fa-star"></i></a></li>
      </ul>
    </div>
    <a class="btn btn-primary btn-lg">See all shows</a>
  </div>
</div>
<!-- ##### Clients ##### -->
<div class="container">
  <div class="event_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_2.jpg');">
    <div class="banner-content">
      <h1>Clients</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #1</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #2</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #3</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #4</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #5</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Client #6</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <a class="btn btn-primary btn-lg">Full clients list</a>
  </div>
</div>
