<!-- ##### Training ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(238,232,200,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077487/17097166_374830502898846_7759038778929024717_o_kiijjl.jpg');">
  <div class="banner-content">
    <h1>About us</h1>
    <p>A team of fun and passionate improvisers</p>
    <a class="btn btn-primary btn-lg">Meet the team</a>
  </div>
</div>

<!-- ##### School ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(249,205,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077499/17097315_374830789565484_7044599031594692898_o_n7urtg.jpg');">
  <div class="banner-content">
    <h1>School</h1>
    <p>Find yourself and develop your improvisation skills</p>
    <a class="btn btn-primary btn-lg">Learn now</a>
  </div>
</div>

<!-- ##### Carousel ##### -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(139,165,164,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496077473/2016-10-13-PHOTO-00001187_dbsysx.jpg');">
  <div class="banner-content">
    <h1>Training</h1>
    <p>Very cool training stuff</p>
    <a class="btn btn-primary btn-lg">Book a session</a>
  </div>
</div>

<!-- ##### Shows ##### -->
<div class="event_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_2.jpg');">
  <div class="banner-content">
    <h1>Shows</h1>
  </div>

  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>95</div>
    </div>
    <img src="http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165912/improv_ao9pnh.png" alt="Art" class="product-image ">
    <div class='product-body'>
      <h3>The American Theatre</h3>
      <p>Brussels</p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>

  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>95</div>
    </div>
    <img src="http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165911/theatre_d9tq8j.png" alt="Masks" class="product-image ">
    <div class='product-body'>
      <h3>Cafe Theatre</h3>
      <p>Antwerp</p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>

  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>95</div>
    </div>
    <img src="http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165911/art_d0cosa.jpg" alt="Amsterdam" class="product-image ">
    <div class='product-body'>
      <h3>35th Art Brussels</h3>
      <p>Brussels</p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <a class="btn btn-primary btn-lg">See all shows</a>
</div>

<!-- ##### Clients ##### -->
<div class="container">
  <div class="event_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background_2.jpg');">
    <div class="banner-content">
      <h1>Clients</h1>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165910/BAYERCS_Logo_Cent_RGB_100917-103x75_lj5gi5.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>Bayer</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165910/tedX_logo_2-150x37_ahr3hw.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>TedX</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165910/European_Commission_logo-108x75_ivgngp.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>European Commission</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165910/640px-EFSA_logo-150x71_vgqwbv.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>EFSA</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165910/CEDEFOP_logo_en-150x50_n6euk7.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>CEDEFOP</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkvqyjtzb/image/upload/v1496165912/amcham_rclnwi.png');">
          <!-- <div class="card-category">Popular</div> -->
          <div class="card-description">
            <h2>AmCham Brussels</h2>
            <!-- <p>Very cool stuff, useful and smart</p> -->
          </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <a class="card-link" href="#" ></a>
        </div>
      </div>

    </div>
    <a class="btn btn-primary btn-lg">Full clients list</a>
  </div>
</div>
